@import "~bootstrap/scss/bootstrap";

body {
	background: #606061;
}

form,
header{
	min-height: 40vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.default {
	// position: fixed;
	// margin-top: 25px;
	margin-left: 50px;
}

.projectListItem{
	max-width: min-content;
	white-space: nowrap;
	cursor: pointer;
}

.addNewList {
	float: right;
	margin-top: -100px;
	margin-right: 250px;
}

.addNewProject {
	float: right;
	margin-top: -125px;
	margin-right: 250px;
}

.form-control {
	height: 50px;
	padding: 5px;
}

#completed {
	margin-left: 15px;
	margin-top: 5px;
}
