@import "~bootstrap/scss/bootstrap";

html {
	margin-top: 0;
	padding: 0;
	box-sizing: border-box;
	min-height: 100vh;
}

body {
	background-image: linear-gradient(120deg, #0fce8e, #79c424);
	color: #fff;
	font-family: "Orbitron", sans-serif;
}

header {
	background-color: #2b381d;
	margin-bottom: 2rem;
}

form,
header {
	min-height: 40vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.default {
	// position: fixed;
	// margin-top: 25px;
	margin-left: 50px;
}

.projectListItem {
	max-width: min-content;
	white-space: nowrap;
	cursor: pointer;
}

.addNewList {
	float: right;
	// margin-top: -100px;
	margin-right: 250px;

	background: #152008;
	color: #fff;
	border: none;
	padding: 1rem;
	font-size: 1rem;
	cursor: pointer;

	clear: both;
}

.addNewProject {
	float: right;
	// margin-top: -125px;
	margin-right: 250px;

	background: #325a04;
	color: #fff;
	border: none;
	padding: 1rem;
	font-size: 1rem;
	cursor: pointer;
	clear: both;
}

.form-control {
	height: 50px;
	padding: 5px;
}

#completed {
	margin-left: 15px;
	margin-top: 5px;
}
